@{
    ViewBag.Title = "Account Creation Successful";
}
<p class="text-center"><strong>Congratulations</strong>, you're almost ready to go.</p>
<p class="text-center">We've sent you an email, <strong>please click on the link in your email</strong> to verify your account <strong>then @Html.ActionLink("Login","Login","Account")</strong></p>
