@model Carbontally.Models.LoginViewModel

@{
    ViewBag.Title = "Login";
}

<h1>Log In</h1>

@using (Html.BeginForm()){
    @Html.ValidationSummary(true)
    
    <p><input type="submit" value="Log In" /></p>
}
