footer {
    background-color: black;
    color: white;
}

header {
    background-color: lightgrey;
}

/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #b94a48;
    background-color: #f2dede;
}

.validation-summary-errors {
    font-weight: bold;
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}